<div id="overview">
  <div class="section-header">
    <h3>
      <span class="icon-double-angle-right "></span>
      overview & installation
    </h3>
  </div>
  <div class="col-md-4">
    <p>
      javelin is a view templating engine for your node.js based RESTful APIs. It allows you to treat the data of 
      your API as you would any other view. The gain here is that you can separate your view logic from your 
      controllers and models. javelin can compile to JSON and XML natively but other builders can be plugged in to 
      allow compiling to any other format. The syntax of javelin is inspired by the Ruby gem known as rabl.
    </p>
    <p></p>
    <p class="text-muted">
      <small data-cg-npm-version data-repo="javelin"></small>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      javelin sets out with a few main goals in mind:

      <ul>
        <li>An easy, familiar, way to separate the view logic from your data within RESTful APIs</li>
        <li>A simple, lightweight templating language that makes sense for application data</li>
        <li>Ability to serve your API data in different formats from the same view</li>
      <ul>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Installing javelin</strong> is as easy as any other node module, just use npm!
    </p>
    <p>
      <pre>npm install javelin</pre>
    </p>
    <p>
      To <strong>run the javelin tests</strong>, in your console type...
    </p>
    <p>
      <pre>make tests</pre>
    </p>
    <div class="alert alert-warning">
      <p>note that javelin is not currently pushed to npm!</p>
    </div>
  </div>
</div>